<div class="contents-container">
    <div class="video-card">
        <div class="video-title">
            <h1 id="video-title">{{newVideo.title}}</h1>
            <a id="edit" href="/videos/{{newVideo._id}}/edit">Edit</a>
            <iframe class="video-player" src="{{newVideo.url}}" name="url" frameborder="0" allowfullscreen></iframe>
            <form method="post" action="/videos/{{newVideo._id}}/deletions">
                <input id="delete" type="submit" value="Delete">
            </form>
        </div>

        <div class="video-description">
            <p id="video-description">{{newVideo.description}}</p>
        </div>
    </div>
</div>